<div class="container-fluid text-center text-md-left">
    <div class="row">
        <img src="assets/logo-wireframe.png" alt="" class="footer-img">
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-left">Contact us</h5>
            <div class="row">
                <div class="col-md-3"><p><i class="fa fa-map"></i> Address</p></div>
                <div class="col-md-9"><p class="twhite">Taiwan Geospatial Open Source Lab</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p><i class="fa fa-phone"></i> Phone</p></div>
                <div class="col-md-9"><p class="twhite">01-23456789</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p><i class="fa fa-envelope"></i> Email</p></div>
                <div class="col-md-9"><p class="twhite">mail@mail.com</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p><i class="fa fa-clock-o"></i> Hours</p></div>
                <div class="col-md-9"><p class="twhite">Monday-Tuesday: 8am - 5pm</p></div>
            </div>

        </div>
        <div class="col-md-6">
            <h5 class="text-left">Map</h5>
            <div class="row">
                <div id="map" style="height: 360px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        <span class="subwhite">© 2018 Copyright, Taiwan Geospatial Open Source Lab</span>
    </div>
</div>