<section id="publications" class="text-center">
    <h2 class="mb-5 font-weight-bold">Publications<div class="line-underline"></div></h2>
    <div class="row buttom-space">
        <figure class="col-lg-5 col-sm-4">
            <img src="http://dgl.geomatics.ncku.edu.tw/Icons/Mapwarping.png" alt="" class="paper-img">
        </figure>
        <div class="col-lg-7 col-sm-8" style="text-align: left;">
            <h5>Drawing Road Networks with Mental Maps</h5>
            <p>Shih-Syun Lin , Chao-Hung Lin, Yan-Jhang Hu, and Tong-Yee Lee</p>
            <span>IEEE Transactions on Visualization and Computer Graphics, Vol. 20, No. 9, 2014.</span>
            <hr>
            <span class="subwhite">A novel road network warping for stylized map generation.</span>
        </div>
    </div>
    <div class="row buttom-space">
        <figure class="col-lg-5 col-sm-4">
            <img src="http://dgl.geomatics.ncku.edu.tw/Icons/Point%20Cloud%20Encoding.png" alt="" class="paper-img">
        </figure>
        <div class="col-lg-7 col-sm-8" style="text-align: left;">
            <h5>Point Cloud Encoding for 3D Building Model Retrieval</h5>
            <p>Jyun-Yuan Chen, Chao-Hung Lin, Po-Chi Hsu, and Chung-Hao Chen</p>
            <span>IEEE Transactions on Multimedia, Vsdfsdfsadfasdfsadfol. 16, No. 2, pp. 337-345, 2014.</span>
            <hr>
            <span class="subwhite">A novel point cloud encoding method for 3D building model retrieval.</span>
        </div>
    </div>
    <div class="row buttom-space">
        <figure class="col-lg-5 col-sm-4">
            <img src="http://dgl.geomatics.ncku.edu.tw/Icons/PointCloudClassification.png" alt="" class="paper-img">
        </figure>
        <div class="col-lg-7 col-sm-8" style="text-align: left;">
            <h5>Eigen-feature Analysis of Weighted Covariance Matrices for LiDAR Point Cloud Classification</h5>
            <p>Chao-Hung Lin, Jyun-Yuan Chen, Po-Lin Su, and Chung-Hao Chen</p>
            <span>ISPRS Journal of Photogrametry and Remote Sensing, Vol. 94, pp. 70-79, 2014.</span>
            <hr>
            <span class="subwhite">An improved eigh-feature generation method for point cloud classification.</span>
        </div>
    </div>
</section>