<section id="people" class="text-center">
    <h2 class="mb-5 font-weight-bold">People<div class="line-underline"></div></h2>
    <div class="row d-flex justify-content-center mb-8">
        <div class="card mb-3">
            <h3 class="card-header">Dr. Chao-Hung Lin</h3>
            <div class="card-body">
                <h5 class="card-title">National Cheng Kung University</h5>
                <h6 class="card-subtitle text-muted">Department of Geomatics</h6>
            </div>
            <img style="display: block; width: 150px; height: auto; margin: auto;"
                 src="http://www.geomatics.ncku.edu.tw/images/file/member7/thumbnail/member7.jpg" alt="Card image">
            <div class="card-footer text-muted">
                notes
            </div>
        </div>
        <div class="card mb-3">
            <h3 class="card-header">Dr. Tee-Ann Teo</h3>
            <div class="card-body">
                <h5 class="card-title">National Chiao Tung University</h5>
                <h6 class="card-subtitle text-muted">Department of Civil Engineering</h6>
            </div>
            <img style="display: block; width: 150px; height: auto; margin: auto;"
                 src="http://www.cv.nctu.edu.tw/chinese/teacher/teacher35_clip_image002.jpg" alt="Card image">
            <div class="card-footer text-muted">
                notes
            </div>
        </div>
        <div class="card mb-3">
            <h3 class="card-header">Dr. Chih‐Yuan Huang</h3>
            <div class="card-body">
                <h5 class="card-title">National Central University</h5>
                <h6 class="card-subtitle text-muted">Center for Space and Remote Sensing Research</h6>
            </div>
            <img style="display: block; width: 150px; height: auto; margin: auto;"
                 src="assets/cyhuang.png" alt="Card image">
            <div class="card-footer text-muted">
                notes
            </div>
        </div>
    </div>
</section>