<section id="project" class="text-center">
    <h2 class="mb-5 font-weight-bold">Open Source Project<div class="line-underline"></div></h2>
    <div class="row buttom-space">
        <figure class="col-lg-5 col-sm-4 wow fadeInLeft animated">
            <img src="https://github.com/gipong/shp2geojson.js/raw/master/demo/index.png" alt="" class="paper-img">
        </figure>
        <div class="col-lg-7 col-sm-8" style="text-align: left;">
            <h5>shp2geojson.js</h5>
            <p>Huang-Sin Syu</p>
            <span></span>
            <hr>
            <span class="subwhite">Convert shapefile to geoJSON via a web browser without Server-Side code. This conversion will unzip your file and reproject the data with correct encoding in JavaScript.</span>
        </div>
    </div>

</section>