<section id="training" class="text-center">
    <h2 class="mb-5 font-weight-bold">Traning & Education<div class="line-underline"></div></h2>
    <div class="row d-flex justify-content-center mb-4 text-left">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul class="list-unstyled">
            <li>Tutorial</li>
            <hr>
            <li>
              Arduino 創意開源手作坊
            </li>
            <p><a href="https://nckusg36.wixsite.com/sg36/isprs">https://nckusg36.wixsite.com/sg36/isprs</a></p>
            <li>
              健康開放資料創意加值應用工作坊
            </li>
            <p><a href="https://nckusg36.wixsite.com/sg36/isprs">https://nckusg36.wixsite.com/sg36/isprs</a></p>

            <br>

            <li>Workshop</li>
            <hr>
            <li>
              OGC SensorThings API工作坊 (SG 37)
            </li>
            <p><a href="">link</a></p>
            <li>
              Remote Sensing Open Data and Software工作坊 (SG 37)
            </li>
            <p><a href="">link</a></p>


          </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>