<section id="about" class="text-center">
    <h2 class="mb-5 font-weight-bold">About<div class="line-underline"></div></h2>
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-8">
            <p>Taiwan Geospatial Open Source Lab (TGeoSource Lab) aims to promote open source
                and the development of free software on geospatial technologies,
                mainly in the fields of photogrammetry, remote sensing, and GIS.
                To facilitate this, the Lab members utilize the geospatial open source to carry out
                fundamental and to deliver geospatial solutions to engineering problems.
                Refer to the Open Source Project and Publications pages for more.
                We also organize tutorials, webinars, and joint sessions to provide training
                for undergraduate and graduate students in the programs of Surveying and Mapping,
                Geomatics, Geographic Information Science, Physical Geography.
                We currently provide training courses in Quantuim GIS, PostgreSQL,
                and OGC SensorThings API. The promotion of open source can provide us
                free software and make accessible the latest geospatial technologies
                to the wider geospatial community.
            </p>
        </div>
    </div>
</section>