<section id="other" class="text-center">
    <h2 class="mb-5 font-weight-bold">Other Geo4all Labs<div class="line-underline"></div></h2>

    <div class="row d-flex justify-content-center mb-4 text-left">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>ETH Zurich</li><p><a href="http://osgl.ethz.ch/" target="_blank">http://osgl.ethz.ch/</a></p>
                <li>ISRIC - World Soil Information foundation</li><p><a href="http://www.isric.org/" target="_blank">http://www.isric.org/</a></p>
                <li>Newcastle University</li><p><a href="http://research.ncl.ac.uk/osgeolab/" target="_blank">http://research.ncl.ac.uk/osgeolab/</a></p>
                <li>University of Heidelberg</li><p><a href="http://www.geog.uni-heidelberg.de/index_en.html" target="_blank">http://www.geog.uni-heidelberg.de/index_en.html</a></p>
                <li>University of California, Davis</li><p><a href="https://spatial.ucdavis.edu/open-source/" target="_blank">https://spatial.ucdavis.edu/open-source/</a></p>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>