<section id="other" class="text-center">
    <h2 class="mb-5 font-weight-bold">Other Geo4all Labs<div class="line-underline"></div></h2>

    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>ETH Zurich</h3>
            <p><a href="http://osgl.ethz.ch/" target="_blank">http://osgl.ethz.ch/</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>ISRIC - World Soil Information foundation</h3>
            <p><a href="http://www.isric.org/" target="_blank">http://www.isric.org/</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>Newcastle University</h3>
            <p><a href="http://research.ncl.ac.uk/osgeolab/" target="_blank">http://research.ncl.ac.uk/osgeolab/</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>University of Heidelberg</h3>
            <p><a href="http://www.geog.uni-heidelberg.de/index_en.html" target="_blank">http://www.geog.uni-heidelberg.de/index_en.html</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>University of California, Davis</h3>
            <p><a href="https://spatial.ucdavis.edu/open-source/" target="_blank">https://spatial.ucdavis.edu/open-source/</a></p>
        </div>
    </div>

</section>