<section id="training" class="text-center">
    <h2 class="mb-5 font-weight-bold">Traning & Education<div class="line-underline"></div></h2>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>Tutorial:Arduino 創意開源手作坊</h3>
            <p><a href="https://nckusg36.wixsite.com/sg36/isprs">https://nckusg36.wixsite.com/sg36/isprs</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>Tutorial:健康開放資料創意加值應用工作坊</h3>
            <p><a href="https://nckusg36.wixsite.com/sg36/isprs">https://nckusg36.wixsite.com/sg36/isprs</a></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>OGC SensorThings API工作坊 (SG 37)</h3>
            <p></p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="serice-list-col-8">
            <h3>Remote Sensing Open Data and Software工作坊 (SG 37)</h3>
            <p></p>
        </div>
    </div>
</section>