<section id="resources" class="text-center">
    <h2 class="mb-5 font-weight-bold">Resources<div class="line-underline"></div></h2>
    <div class="row d-flex justify-content-center mb-4 text-left">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <a href="http://www.isprs.org/education/software.aspx" target="_blank">Free Software from CATCON</a>
                </li>
                <hr>
                <li>
                    <a href="http://www.arpenteur.net/" target="_blank">ARPENTEUR</a>
                </li>
                <p class="subwhite">a photogrammetric software package (Gold Award in Amsterdam 2000)</p>
                <li>
                    <a href="http://www.arpenteur.net/" target="_blank">LDIPInter</a>
                </li>
                <p class="subwhite">a software for photogrammetry education</p>
                <li>
                    <a href="ftp://ftp.tric.u-tokai.ac.jp/outgoing/catbin/WinASEAN/" target="_blank">WinASEAN</a>
                </li>
                <p class="subwhite">a software for remote sensing data analysis</p>
                <li>
                    <a href="http://www.ipi.uni-hannover.de/elan/" target="_blank">Sensor Orientation and Image Analysis</a>
                </li>
                <p class="subwhite">form Hannover University, Germany</p>
                <li>
                    <a href="http://ldipinter2.plan.aau.dk/" target="_blank">Learning Digital Photogrammetry</a>
                </li>
                <p class="subwhite">created by J.Hoehle, Aalborg University, Denmark</p>
                <li>
                    <a href="http://learning.intermap.com/" target="_blank">DEM generation</a>
                </li>
                <p class="subwhite">created by Intermap Technologies</p>
                <li>
                    <a href="http://vcg.isti.cnr.it/downloads/downloads.htm" target="_blank">Modeling software</a>
                </li>
                <p class="subwhite">from Visual Computing Lab - CNR Pisa, Italy</p>
                <br>

                <li>
                    <a href="http://www.grss-ieee.org/open-source-software-related-to-geoscience-and-remote-sensing/" target="_blank">Open Source Software related to Geoscience and Remote Sensing</a>
                </li>
                <!--<hr>-->
                <br>

                <li>
                    <a href="http://www.osgeo.org/" target="_blank">Oepn Source Sofware from OSGeo</a>
                </li>
                <hr>
                <li>
                    <a href="https://grass.osgeo.org/" target="_blank">GRASS GIS</a>
                </li>
                <p class="subwhite">(Geographic Resources Analysis Support System), a free and open-source GIS software for geospatial data management, analysis, image processing, spatial modeling and visualization.</p>
                <li>
                    <a href="http://www.qgis.org/en/site/" target="_blank">QGIS</a>
                </li>
                <p class="subwhite">(Quantum GIS), a free and open-source desktop GIS software that provides data viewing, editing, and analysis.</p>
                <li>
                    <a href="http://www.deegree.org/" target="_blank">deegree</a>
                </li>
                <p class="subwhite">an open-source software for spatial data infrastrctures and geospatial web.</p>
                <li>
                    <a href="http://openlayers.org/" target="_blank">OpenLayers</a>
                </li>
                <p class="subwhite">an open-source JavaScript library for displaying map data in web browsers.</p>
                <li>
                    <a href="http://geoserver.org/" target="_blank">GeoServer</a>
                </li>
                <p class="subwhite">an open-source server written in Java that allows users to share, process and edit geospatial data.</p>
                <li>
                    <a href="http://www.mapserver.org/" target="_blank">MapServer</a>
                </li>
                <p class="subwhite">an open-souce development envionment for building spatially enabled internet applications.</p>
                <li>
                    <a href="http://postgis.net/" target="_blank">PostGIS</a>
                </li>
                <p class="subwhite">a spatial database extender for PostgresSQL object-relational database.</p>
                <li>
                    <a href="https://marble.kde.org/" target="_blank">Marble</a>
                </li>
                <p class="subwhite">a virtual globe and world atlas.</p>
                <li>
                    <a href="http://pycsw.org/" target="_blank">pycsw</a>
                </li>
                <p class="subwhite">an OGC CSW server.</p>

                <br>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>

</section>