<div id="world" class="view">
    <div class="mask">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-12">
                    <h2 class="display-4 font-weight-bold pt-5 mb-2 text-white">TGeoSource Lab</h2>
                    <hr class="hr-divider">
                    <h4 class="my-4 subwhite">Taiwan Geospatial Open Source Lab</h4>
                </div>
            </div>
        </div>
    </div>
</div>